[submodule "external/meson_toolchains"]
	path = external/meson_toolchains
	url = https://github.com/uyjulian/meson_toolchains.git
[submodule "external/vorbis"]
	path = external/vorbis
	url = https://github.com/xiph/vorbis.git
[submodule "external/ogg"]
	path = external/ogg
	url = https://github.com/xiph/ogg.git
[submodule "external/libtomcrypt"]
	path = external/libtomcrypt
	url = https://github.com/libtom/libtomcrypt.git
